@import url('https://fonts.cdnfonts.com/css/google-sans');

#root,
html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Product Sans', sans-serif;

}

.app {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/bg1.png');
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    background-color: rgba(129, 129, 129, 0.578);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2rem;
    box-shadow:
        0.3em 0.3em 1em rgba(0, 0, 0, 0.674);

}

.heading {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 400;

}

button {
    font-family: 'Product Sans', sans-serif;
    border: none;
    padding: 3%;
    border-radius: 10px;
    background-color: rgb(171, 171, 171);
}

button:hover {
    background-color: rgb(160, 160, 160);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: rgb(255, 255, 255);

}